*{
    margin: 0;
    padding: 0;
}

.header-index{
    
    background-image: url(../img/logo6.jpg);
    object-fit: cover;
    height: 800px;
    flex-wrap: wrap;
}
header{
    background-image: url(../img/thewitcher.jpeg);
    object-fit: cover;
    height: 400px;
}
/****** mobile INDEX *******/
@media only screen and ( max-width:600px){
   .header-index{
       height: 1200px;
   }
    .iconos{
        background-color: $primercolor;
    }
    
}
/******* escritorio INDEX *******/
@media only screen and ( min-width:992px){
  
}