@import"./variables";
@import"./galeria";
@import"./header";
@import"./footer";
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
#info{
    background: rgb(19, 17, 17);
    color: #fff;
    text-align: center;
    padding: 20px;
}
#info.foto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.info-serie img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 7px solid #fff;
}

section{
    background-color: $primercolor;
}
.navbar-expand-lg{
    background-color: none;
}
.container-fluid{
    background-color: none;
}

div{
    width: 100%;
}
/*******H1/H2*******/
h1{
    color: gray;
    font-weight:600px;
    font-size: 70px;
    font-family: "roboto" , sans-serif;
    text-align: center;
    text-decoration: underline;
    background-size: cover;
    background-position: center;
}
h2{
    color: black;
    font-style: italic;
    font-size: 50px;
    font-family: "supermercado one", cursive;
    text-align: center;
}
/*******PARRAFOS*******/

p{

    color: rgb(0, 0, 0);
    font-size: 20px;
    line-height: 2;
    margin-top: 20px;
    padding: 6px;
    
}

footer{
    background-color: $colorfooter;
    
}
/******EXTEND******/
.texto{
    
    color: aqua;
    text-align: center;
}

.texto1{
    @extend .texto;
    color: aqua;


}
/********MIXIN********/
@mixin estilocard ( $colorletra , $tamañoletra ){
    .card1 a{
        font-weight: 500;
        text-decoration: none;
        color: $colorletra;
    }
    .card1 p{
        padding: 0 1rem;
        font-size: $tamañoletra;
        font-weight: 300;
    }
    
}
.estilocard{
    @include estilocard(#3498db , 5px)
}
/******CARD******/

    
   
.fondomain {
    background-color:$colormain;
}

.card-title{
    color: black;
}
.iconos{
    background-color: $primercolor;
}
.card-body{
    background-color: $primercolor;
}
.navbar-nav{
    background-color: grey;
}

.baner{
    padding: 0 30px;
    margin-top: 150px;
    text-align: center;
    color: #fff;
}
.h1{
    font-size: 2000px;
    margin-bottom: 30px;
    color: whitesmoke;
    text-decoration: none;
}
.baner span{
    color: #fff;
    font-size: 30px;
}
.h2{
    font-size: 46px;
    font-weight: 600;
    color: red;
}
.boton1{
    text-decoration: none;
    margin-right: 40px;
    padding: 10px 30px;
    background-color: rgb(248, 8, 8);
    color: #fff;
    border-radius: 5px;
}
.boton1:hover{
    background-color: #fff;
    color: rgb(248, 8, 8);
    transition: .5s;
}
.boton2:hover{
    background-color: rgb(248, 8, 8);
    color: #fff;
    transition: .5s;
   
}
.boton2{
    text-decoration: none;
    margin-right: 40px;
    padding: 10px 30px ;
    background-color: #fff;
    color: rgb(248, 8, 8);
    border-radius: 5px;
}

.navbar-toggler-icon{
    background-color: #fff;
}
@media (min-width:920px){
    .foto{
        width: 1000px;
    }
}